@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
}

body {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Unbounded", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #ffac12;
  border-radius: 2px;
}